@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');
  
  
  
  
  
#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;

}
.navbar-brand img
{
    height: 80px;
    padding-left: 10px;
    
}
.navbar-brand li 
{
    padding: 0 10px;

}
.navbar-brand li a
{
    float: right;
    text-align: left;
    
}
#nav-bar ul li a:hover
{
    color: #ff1818!important;
}
.navbar{
    background: black!important
    ;
}
.nav-link{
    color:white!important;
    font-size: large;
    font-weight: 600;
}
.carousel-caption
{
    top: 50%;
    transform: translateY(-40%);
    bottom: initial!important;
}
.carousel-caption h5{
    font-size: 60px;
    font-family: 'Abril Fatface', cursive;
}
.carousel-caption p{
    font-size: 35px;
}


.oh{
    color: white;
    background-color: black;
}